<!DOCTYPE html>
<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='createAccount/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='transition.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
        
        <title>SmartSwitch - Create Account</title>

    </head>

    <body>
        
        <div class="transition">
            <div class="cover layer1"></div>
            <div class="cover layer2"></div>
            <div class="cover layer3"></div>
        </div>

        <nav class="navbar">

            <ul class="nav">

                <li class="item">
                    <a href="#" class="link redirect">
                        <div class="logo"></div>
                    </a>
                </li>

                <li class="item">
                    <a href="/" class="link redirect">
                        Home
                    </a>
                </li>

                <li class="item">
                    <a href="/#about" class="link redirect">
                        About
                    </a>
                </li>

                <li class="item">
                    <a href="/login/" class="link redirect">
                        Log In
                    </a>
                </li>

                <li class="item">
                    <a href="/control" class="link redirect">
                        Control
                    </a>
                </li>
            </ul>

        </nav>

        <div class="bg"></div>    

        <div class="form">
            
            <h1>Create Account</h1>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for m in messages %}
                        <p class="flash">{{m}} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form autocomplete="off" id="ca" method="post">

                <div class="field">

                    <input type="email" name="email" id="email" class="input" placeholder=" " />
                    <label for="email" class="label">Email</label>

                </div>

                <div class="field">

                    <input type="email" name="confirmEmail" class="input" placeholder=" " />
                    <label for="confirmEmail" class="label">Confirm Email</label>

                </div>

                <div class="field">

                    <input type="password" name="password" id="password" class="input" placeholder=" " onkeyup="validate(this.value);" />
                    <label for="password" class="label">Password</label>

                </div>

                <div class="field">

                    <input type="password" name="confirmPassword" id="confirmPassword" class="input" placeholder=" " onkeyup='validate(password.value)' />
                    <label for="confirmPassword" class="label">Confirm Password</label>

                </div>

                <div class="validation">
                    <ul>
                        <li> <p id="p1"></p> Must be atleast 6 charecters</li>
                        <li> <p id="p2"></p> Must contain a capital letter</li>
                        <li> <p id="p3"></p> Must contain a number</li>
                        <li> <p id="p4"></p> Must contain a special character</li>
                        <li> <p id="p5"></p> Both passwords must match</li>
                    </ul>
                </div>

            </form>

            <button name="submit" class="submit" onclick="submit(email.value, password.value)" >Submit</button>
            
            
        </div>

    </body>

    <script>
        const val = []

        function validate(pwd){
            vals = [
                (pwd.length > 5),
                (pwd.search(/[A-Z]/) > -1),
                (pwd.search(/[0-9]/) > -1),
                (pwd.search(/[!@#$%^&*()_+{}|:/.,;]/) > -1),
                (pwd == document.getElementById("confirmPassword").value)
            ]

            for (var i = 0; i < 5; i++){
                
                var s = ""

                if (vals[i] == true){
                    s = "✅"
                } else {
                    s = "❌"
                }

                document.getElementById("p"+(i+1).toString()).innerHTML = s
                
            }

        }

        validate("");

        function validateEmail(e, p) {
            var v = true

            var re = /\S+@\S+\.\S+/;

            if (re.test(e) == false){
                v = false
            } 
            
            for (var i = 0; i < 5; i++){
                
                if (vals[i] == false){
                    v = false;
                }
            }
            
            return v;
        }

        function submit(email, pwd) {
            console.log(email + validateEmail(email));

            if (validateEmail(email)) {

            
                let data = JSON.stringify(
                {
                    "email" : email,
                    "password" : pwd
                }
                );

                console.log(data)

                let form = document.getElementById("ca");
                form.value = document.getElementById("ca").value;
                console.log(form.value);
                form.submit();

            }

        }
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>    

</html>