@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --white: #e2e2e2;
    --orange: #fb8121;
    --dark: #1e1e24;
    --red: #d31f3c;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--dark);
}

body::-webkit-scrollbar-thumb{
    background: var(--orange);
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 35, 38, 0.9);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1000;
    overflow-x: hidden;
}

.control {
    height: 100%;
    border-radius: 25px;
    text-align: center;
    margin-top: 0;
}

.control h1 {
    font-size: 50px;
    color: var(--orange);
    letter-spacing: 0;
    transform: translateX(12px);
    margin-top: 50px;
    transition: all 0.3s;
}

.control h1 span {
    margin-left: -12px;
    transition: all 0.3s;
}

.control .notlabel {
    color: var(--white);
    margin-top: 20px;
}

.switches {
    width: 100%;
    margin-top: 50px;

}

.switch {
    width: 80%;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 50px;
}

.switch * {
    flex: 1 1 auto;
}

.switch button {
    border: none;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--orange);
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.switch button:active:hover {
    background-color: #a15214;
}

.add-switch {
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 35px;
    margin-top: 50px;
}

.add-switch:active:hover {
    background-color: #a15214;
}

.add-label {
    margin-top: 20px;
    color: var(--white);

}

.panel-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.panel {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, 0.5);
    padding: 20px;
    border-radius: 25px;
}

.switch-id {
    margin-top: 25px;
    float: left;
    width: 250px;
    height: 10px;
    background-color: var(--white);
    border: none;
    border-radius: 25px;
    padding: 20px;
    margin-left: 25px;
}

.close {
    background-color: var(--red);
    width: 18px;
    height: 18px;
    border-radius: 25px;
    border: none;
    position: absolute;
    top: 15px;
    left: 15px;
    /* padding: 10px; */
}

.add {
    float: right;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    margin-top: 28px;
    font-size: 20px;
    margin-right: 25px;

}

.add:active:hover{
    background-color: #a15214;
}

.close:active:hover {
    background-color: #c01e39;
}


@media only screen and (max-width: 600px) {

    .bg {
        background-image: url("./home2.png");
        overflow-x: hidden;
    }

    .control {
        width: 100%;
    }

}


@media only screen and (min-width: 600px) {

    .bg {
        background-image: url("./home.png");
    }

    .control {     
        width: calc(100% - 80px);
        margin-left: 80px;
    }
    
    h1 span:hover{
        text-shadow:0 0 10px #fb8121,
                    0 0 20px #fb8121,
                    0 0 40px #fb8121,
                    0 0 80px #fb8121,
                    0 0 120px #fb8121,
                    0 0 160px #fb8121;
    }


    .switch button:hover {
        background-color: #c0631b;
    }

    .add-switch:hover {
        background-color: #c0631b;
    }

    .add:hover {
        background-color: #c0631b;
    }

    .close:hover {
        background-color: #8d1529;
    }

}