<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='control/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='transition.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

        <title>SmartSwitch</title>
    </head>

    <body>

        <div class="transition">
            <div class="cover layer1"></div>
            <div class="cover layer2"></div>
            <div class="cover layer3"></div>
        </div>

        <nav class="navbar">

            <ul class="nav">

                <li class="item">
                    <a href="#" class="link redirect">
                        <div class="logo"></div>
                    </a>
                </li>

                <li class="item">
                    <a href="/" class="link redirect">
                        Home
                    </a>
                </li>

                <li class="item">
                    <a href="/#about" class="link redirect">
                        About
                    </a>
                </li>

                <li class="item">
                    <a href="/login/" class="link redirect">
                        Log In
                    </a>
                </li>

                <li class="item">
                    <a href="/control" class="link redirect">
                        Control
                    </a>
                </li>
            </ul>

        </nav>
        
        <div class="bg"></div>

        <div class="control" id="control">

            <h1> 
                <span>C</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>r</span>
                <span>o</span>
                <span>l</span>
            </h1>

            <p class="notlabel">
                Control your devices here
            </p>
            
            <div class="switches" id="switches">
                
            </div>

            <button class="add" id="add" onclick="openPanel()">+</button>
            <p class="label">Click to add a switch</p>
            

        </div>
        

        <div class="panelBG">

            <div class="panel" id="panel">
                
                <button class="close" id="close" onclick="closePanel()">X</button>

                <input type="text" class="switchID" id="switchID" placeholder="Enter Switch ID">
                <button class="add" id="add" onclick="add()">Add</button>
    
            </div>

        </div>
        
        
    </body>

    <script>

        const user = JSON.parse(localStorage.getItem('user'));

        var Http = new XMLHttpRequest();

        Http.open("GET", "/switch/getAll/getAll/x");
        Http.send();
        
        var added = false;


        Http.onreadystatechange = (e) => {
            var res = Http.responseText;
                
            if (added == false && res != "") {

                let data = JSON.parse((res));
                console.log(data);

                Object.entries(data).forEach(([k,v]) => {

                    const div = document.createElement('div');
                    div.className = "switch"

                    let state = "On"

                    if (v == "0") {
                        state = "Off"
                    }
                    
                    div.innerHTML = "<p id='" + k + "'>State: "+state+"</p>   <p>ID: " + k + "</p>  <button onClick = \"tog('"+ k +"')\">Toggle</button>"
                    

                    document.getElementById('switches').appendChild(div);

                });
                
                added = true;
            }
        }

        function tog(id) {
            
            var Http = new XMLHttpRequest();

            Http.open("GET", "/switch/"+ id +"/set/" + user['email']);
            Http.send();

            Http.onreadystatechange = (e) => {

                var res = Http.responseText;
                let added = false;


                if (res.length == 1 && added == false) {
                    let state = "On";

                    console.log(res);

                    if (res == "0") {
                        state = "Off";
                    }

                    document.getElementById(id).innerHTML = "State: " + state;
                    added = true;

                }
                

            }

        }

        const panel = document.getElementById("panel");
        const switchID = document.getElementById("switchID")

        function openPanel() {
            console.log("helo");
            panel.style.display = "block";
        }

        function closePanel() {
            panel.style.display = "none";
        }

        function add(){
            var id = switchID.value;
            var Http = new XMLHttpRequest();
            
            Http.open("GET", "/switch/"+ id +"/add/x");
            Http.send();

            Http.onreadystatechange = (e) => {
                var res = Http.responseText;
                
                if (res == "ID Added") {

                    panel.style.display = "none";
                    switchID.value = "";
                    location.reload();
                    return;
                }

                if (res == "ID does not exist"){
                
                    return;
                }
            }

        }


        // NOTIFICATIONS




    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>    

</html>