@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #fb8121;
}

.bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 35, 38, 0.9);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    z-index: -1000;
}

.home {
    width: 100%;
    height: 100%;
    padding: 25px;
    font-family: 'Montserrat';
}

.rectangle {
    width: 150px;
    background-color: #fb8121;
    box-shadow: 0px 10px 10px rgba(0,0,0,1);
    transition: transform .2s;
}

.home h1 {
    font-size: 100px;
    color: #fb8121;
    text-transform: uppercase;
    padding: 0;
    line-height: 1;
}

.home h1 span {
    padding: 0;
    margin: 0;
}

.home p {
    width: 70%;
    color: #e2e2e2;
    font-size: 35px;
    margin-top: 25px;
}


.about {
    margin-top: 50vh;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}

.about .box {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
    text-align: center;
}

.about h1 {
    margin-top: 100px;
    font-size: 45px;
    color: #fb8121;
    /* position: relative; */
}

.about p {
    color: #e2e2e2;
    font-size: 20px;
    margin-top: 50px;
}



@media only screen and (max-width: 600px) {

    .rectangle {
        margin-top: 50px;
        height: 20px;
        margin-left: 8%;
    }

    .bg {
        background-image: url("./home2.png");
        overflow-x: hidden;
    }

    .home {
        max-width: 325px;
    }

    .home h1 {
        margin-left: 8%;
        font-size: 55px;
        letter-spacing: -5px;
    }

    .home p {
        margin-left: 8%;
    }

    .about {
        height: 125%;
    }

    .about p {
        font-size: 15px;
    }

}

@media only screen and (min-width: 600px) {

    .bg {
        background-image: url("./home.png");
    }

    .rectangle {
        margin-top: 300px;
        height: 25px;
        margin-left: 15%;
    }

    .rectangle:hover {
        box-shadow:0 0 10px #fb8121,
                    0 0 20px #fb8121,
                    0 0 40px #fb8121,
                    0 0 80px #fb8121,
                    0 0 120px #fb8121,
                    0 0 160px #fb8121;
        transform:scale(1.2);
    }

    .home h1 {
        font-size: 100px;
        margin-left: 15%;
        letter-spacing: -10px;
        cursor: pointer;
    }

    .home h1 span {
        transition: 0.5s ease-in;
    }

    .home h1 span:hover{
        text-shadow:0 0 10px #fb8121,
                    0 0 20px #fb8121,
                    0 0 40px #fb8121,
                    0 0 80px #fb8121,
                    0 0 120px #fb8121,
                    0 0 160px #fb8121;
    }

    .about h1 span {
        transition: 0.5s ease-in;
    }

    .about h1 span:hover{
        text-shadow:0 0 10px #fb8121,
                    0 0 20px #fb8121,
                    0 0 40px #fb8121,
                    0 0 80px #fb8121,
                    0 0 120px #fb8121,
                    0 0 160px #fb8121;
    }

    .home p {
        margin-left: 15%;
        letter-spacing: 0px;
    }

}

/* Pallelt
    27, 35, 38 - 1d2228
    251, 129, 33- fb8121
    226,226,226 - e2e2e2
*