<!DOCTYPE html>
<html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='transition.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
        
        <title>SmartSwitch - Login</title>

    </head>

    <body>

        <div class="transition">
            <div class="cover layer1"></div>
            <div class="cover layer2"></div>
            <div class="cover layer3"></div>
        </div>

        <nav class="navbar">

            <ul class="nav">

                <li class="item">
                    <a href="#" class="link redirect">
                        <div class="logo"></div>
                    </a>
                </li>

                <li class="item">
                    <a href="/" class="link redirect">
                        Home
                    </a>
                </li>

                <li class="item">
                    <a href="/#about" class="link redirect">
                        About
                    </a>
                </li>

                <li class="item">
                    <a href="/login/" class="link redirect">
                        Log In
                    </a>
                </li>

                <li class="item">
                    <a href="/control" class="link redirect">
                        Control
                    </a>
                </li>
            </ul>

        </nav>

        <div class="bg"></div>

        <div class="form">
            
            <h1>Log in</h1>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for m in messages %}
                        <p class="flash" id="flash">{{m}} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form class="login-form" autocomplete="off" id="login" method="post">

                <div class="field">

                    <input type="email" name="email" class="input" id="email" placeholder=" " />
                    <label for="email" class="label">Email</label>

                </div>

                <div class="field">

                    <input type="password" name="password" id="password" class="input" placeholder=" " />
                    <label for="password" class="label">Password</label>

                </div>
            </form>

            <button name="submit" class="submit" onclick="submit(document.getElementById('email').value, document.getElementById('password').value)" >Submit</button>


            <a class="ca redirect" class="" href="/createAccount/"> Don't have an account? Create Account </a>
            
        </div>

    </body>

    <script>
        const user = localStorage.getItem('user');
        
        if (user.length != 0) {
            const data = JSON.parse(user);

            const wrong = true;

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for m in messages %}
                        {% if "inncorrect" in m.lower() %}

                            wrong = false

                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            if (!wrong) {
                submit(data['email'], data['password'])
            }
        }
        
        var email = document.getElementById("email")
        var password = document.getElementById("password")
        
        var flashMsg = document.getElementById("flash").innerHTML;

        if (flashMsg.includes("Account Created")) {
            localStorage.setItem("email", "");
        }

        function submit(e, pwd) {
            var v = validate(e, pwd)

            if (v == false){
                return;
            }
            
            let data = {
                "email" : e,
                "password" : pwd
            }

            console.log(data);

            localStorage.setItem('user', JSON.stringify(data));

            document.getElementById("email").value = data['email'];
            document.getElementById("password").value = data["password"];

            document.getElementById("login").submit();

        }

        function validate(e, p) {
            var v = true

            var re = /\S+@\S+\.\S+/;

            if (re.test(e) == false){
                v = false
            } 
            if (p == "") {
                v = false
            }

            return v
        }
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>    

</html>