.navbar {
    position: fixed;
    background-color: #1d2228;
    z-index: 1000;
}

.link {
    display: flex;
    align-items: center;
    color: #e2e2e2;
    width: auto;
    text-decoration: none;
    margin-left: 20%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    transition: all .2s;
}

.link:hover {
    transform: scale(1.2);
}

.link .logo {
    width: 55px;
    height: 55px;
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.link .logo:hover {
    background-image: url("./logoHover.png");
}

@media only screen and (max-width: 600px) {

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
    }

    .nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .link {
        justify-content: center;
        font-size: 15px;
    }

    .item {
        margin-left: auto;
        margin-right: auto;
        padding-right: 25px;
        width: 100px;
    }

}


@media only screen and (min-width: 600px) {

    .navbar {
        width: 90px;
        height: 100vh;
        top: 0;
    }

    .link:hover{
        color: #fb8121;
        text-shadow:0 0 10px #fb8121,
                    0 0 20px #fb8121,
                    0 0 40px #fb8121,
                    0 0 80px #fb8121,
                    0 0 120px #fb8121,
                    0 0 160px #fb8121;
    }

    .nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .item{

        height: 120px;
        width: 100%;
    }
}